/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}
