.banner {
  height: 100vh;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("http://unsplash.it/400/300/?random");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}
