.tabs {
  background: #53443F;
  color: white;
  display: flex;
  padding: 10px 10px 0 10px
}

.tabs h3 {
  font-size: 17px;
}

.tabs p {
  opacity: 0.5;
}

.tabs-item {
  background: #756A66;
  flex: 0 0 25%;
  text-align: center;
}

.tabs-item:first-child {
  border-radius: 10px 0 0 0;
}
.tabs-item:last-child {
  border-radius: 0 10px 0 0;
}

.tabs-item.active {
  background: white;
  color: black;
}




